process {
    memory = { 8.GB * task.attempt }
    cpus = { 4 * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}

params {
    input = false
    reference = "pbmcref"
    output = false
    web_output = false
    name = "Azimuth Analysis"
    description = "Mapping of gene expression data onto Azimuth reference"
    container__azimuth = "satijalab/azimuth:0.4.6"
    container__vitessce = "public.ecr.aws/cirrobio/python-utils:7d4eb30"
}
