process {
    memory = { 8.GB * task.attempt }
    cpus = { 4 * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}

params {
    input = false
    reference = "pbmcref"
    output = false
    web_output = false
    name = "Azimuth Analysis"
    description = "Mapping of gene expression data onto Azimuth reference"
    container__azimuth = "satijalab/azimuth:0.4.6"
    container__vitessce = "769915755291.dkr.ecr.us-west-2.amazonaws.com/python-utils:f9c6e2a"
}